header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 4px 20px;
    border-radius: 4px;

}


.menu{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav a:hover{
    color: white;
}

#blogentry{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 4px;
    border: 1px solid #333;
}

#blogentry input, 
#blogentry textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: #0b0b0b;
    border: 1px solid #00ff66;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 4px;
}

#blogentry input:focus,
#blogentry textarea:focus{
    outline: none;
    box-shadow: 0 0 8px rgba(0,255,108, 0.5);
}

#blogentry button{
    align-self: flex-end;
    padding: 10px 25px;
    background-color: #00ff66;
    color: #000;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s ease;
}

#blogentry button:hover{
    background-color: #fff;
}

#blog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.postcard{
    background-color: #1c1c1c;
    border: 1px solid #333333;
    border-left: 4px solid #00ff66;
    border-radius: 4px;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.postcard h4{
    color: #00ff66;
    margin: 0 0 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.postcard p {
    color: #e0e0e0;
    margin: 0 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.postcard .post-date{
    color: #888888;
    font-size: 0.85rem;
    font-family: 'Courier New', Courier, monospace;
    display:block;
    text-align: right;
}

.photogalery-item{
    background-color: #1a1a1a;
    border: 1px solid #333;
    padding: 12px;
    border-radius: 4px;
    max-width: 500px;
    margin: 20px auto;
}

.photogalery-item img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
}

.photogalery-item figcaption{
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}


.photogalery-item figcaption span{
    color: #888;
    font-size: 0.85rem;
    font-family: 'Courier New', Courier, monospace;
}